// Import files
@import "./variables";
@import "./header";
@import "./home";
@import "./about";
@import "./resume";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Montserrat";
}

body {
  background-color: #000;
}