header {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000;
  z-index: 100;
}
header h1 {
  color: #fff;
  margin: 0.5rem 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header h1 span {
  color: #eba611;
}
header ul {
  display: flex;
  margin: 0.5rem 5rem;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: #fff;
  list-style: none;
  margin: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: all 0.5s;
}
header ul li a:hover {
  color: #eba611;
}
header ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* Adjust as needed to position the underline */
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: #eba611; /* Color of the underline */
  transition: width 0.4s ease;
}
header ul li a:hover::after {
  width: calc(100% + 10px); /* 10px padding on each side */
  left: -5px; /* Center the underline with padding */
}

@media (width < 375px) {
  header h1 {
    font-size: 2rem;
  }
  ul li a {
    font-size: 1.2rem;
  }
}
.active {
  color: #eba611;
  transform: scale(1.2);
  font-weight: bold;
}

#home {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#home .home-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#home .home-container .hello-text {
  color: #eba611;
  margin-top: 5rem;
  letter-spacing: 1px;
  font-size: 1.3rem;
}
#home .home-container h1 {
  color: #fff;
  margin-top: 1rem;
  font-size: 4rem;
  width: 20rem;
  word-spacing: 0.5rem;
}
#home .home-container h1 span {
  color: #eba611;
  font-size: 5rem;
}
#home .home-container .job {
  color: #fff;
  margin: 1rem 0;
  font-size: 2rem;
}

.home-btns {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 1rem;
}
.home-btns button {
  cursor: pointer;
  padding: 1.2rem 1.4rem;
  margin: 0 0.5rem;
  border-radius: 2rem;
  border: none;
  transition: all 0.3s;
  font-size: 1.2rem;
}
.home-btns button:hover {
  transform: translateY(3px);
}
.home-btns .hire-me-btn {
  background-color: #eba611;
  font-weight: bold;
}
.home-btns .my-works {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  font-weight: bold;
}

.image-container img {
  width: 30rem;
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.about-image-container img {
  width: 30rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 3rem;
}
.about-container h1 {
  color: #fff;
  margin: 1rem 0;
  font-size: 3rem;
}
.about-container .intro {
  color: #8b8b8b;
  width: 40rem;
}

.my-information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #fff;
  margin-top: 1.5rem;
}
.my-information .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  margin: 1rem;
}
.my-information .info .title {
  font-weight: bold;
}
.my-information .info .value {
  color: #8b8b8b;
}

.project-complete {
  margin-top: 2rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 1.5rem;
}
.project-complete span {
  color: #eba611;
  padding-right: 0.5rem;
}

.download-cv-btn {
  cursor: pointer;
  width: 10rem;
  padding: 1rem;
  margin: 1.5rem 1rem;
  border: none;
  border-radius: 2rem;
  background-color: #eba611;
  font-weight: bold;
  transition: all 0.4s;
}
.download-cv-btn:hover {
  transform: scale(1.1);
}

#resume {
  margin-top: 4rem;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.resume-title {
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.resume-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem 0;
}

.resume-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.resume-info .resume-property {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  margin: 0.5rem 0;
  padding: 1rem;
}
.resume-info .resume-property .property {
  font-weight: bold;
}

.odd {
  background-color: #eba611;
}

.odd-black {
  color: #000;
  font-weight: bold;
}

.gray {
  color: #8b8b8b;
}

.white {
  color: #fff;
}

.resume-img-container img {
  border-radius: 0.5rem;
}

.download-resume-pdf-btn {
  background-color: #eba611;
  padding: 0.5rem;
  color: #000;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}
.download-resume-pdf-btn:hover {
  transform: translateY(2px);
}

#skills {
  margin: 2rem 0;
}
#skills h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

.skills-container {
  margin-top: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-containers-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60rem;
  margin-top: 3rem;
}

.name-percentage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;
  margin-right: 4rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.name-percentage p {
  font-size: 2rem;
}

.percentage-holder {
  width: 15rem;
  height: 0.4rem;
  background-color: #8b8b8b;
  width: 30rem;
  border-radius: 0.3rem;
}
.percentage-holder .percentage {
  background-color: #eba611;
  width: 10rem;
  height: 0.4rem;
}
.percentage-holder .html {
  width: 28rem;
}
.percentage-holder .css {
  width: 24rem;
}
.percentage-holder .node {
  width: 6rem;
}
.percentage-holder .react {
  width: 12rem;
}
.percentage-holder .js {
  width: 18rem;
}
.percentage-holder .git {
  width: 24rem;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact h1 {
  color: #fff;
  margin-top: 2rem;
  font-size: 3rem;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40rem;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 1rem;
  width: 15rem;
  transition: all 0.3s;
  margin: 1rem 0;
  color: #eba611;
}
form input:hover {
  transform: scale(1.1);
  border-color: #eba611;
}
form input:focus {
  outline-style: none;
}
form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 10rem;
  color: #eba611;
  padding: 0.5rem;
  transition: all 0.3s;
}
form textarea:focus {
  outline: none;
}
form textarea:hover {
  transform: scale(1.1);
  border-color: #eba611;
}
form input[type=submit] {
  background-color: #eba611;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 10rem;
  margin-top: 3rem;
  cursor: pointer;
}

.follow-me {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.follow-me p {
  color: #fff;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.follow-me .social-links {
  margin: 1rem;
}
.follow-me .social-links a {
  margin-right: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
}
.follow-me .social-links a:hover {
  color: #eba611;
}

.contact-location {
  margin-left: 1rem;
}
.contact-location i {
  margin-right: 0.4rem;
  color: #eba611;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Montserrat";
}

body {
  background-color: #000;
}/*# sourceMappingURL=general.css.map */